*{
  margin: 0;
  padding: 0;
  
}



.navbar{
  
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0.5);
  
  border-radius: 30px;
  z-index: 9999;
 
  
  
  
}

.nav-title{
  color: #f394af;
  
  
}

.navbar .links{
  margin-left: auto;
 
}

.navbar a{
  font-weight: 600;
  margin-left: 15px;
  text-decoration: none;
  padding: 7px;
  color: black;
  border-radius: 20px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.navbar a:hover{
  background-color: #ddeae3;
  border-radius: 20px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  
}

.navbar .navbar-brand:hover{

  background-color: white;
  border-radius: 20px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;

}

.title-home{
  padding-top: 350px;
  color: #f394af;
  font-weight: 800;
  
  
  font-size: 60px;
}

.intro-text{
  margin-top: 30px;
  max-width: 80%;
  margin-bottom: 50px;
  
  font-size: 25px;
  
  


}

.discover-btn{
  
  margin-top: 30px;
  margin-right: 20px;
  background-color: #bbd6c7;
  border-radius: 25px;
  color: white;
  font-weight: 300 ;
  border-width: 0px;
  
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

}

.discover-btn:hover{
  background-color: #bbd6c7;
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0.5);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;

}

#explore-btn{
  background-color: white;
  color: #f394af;
  border: 1px solid #f394af;


}

#cancel-btn{
  background-color: white;
  color: #f394af;
  border: 1px solid #f394af;
}

#explore-btn:hover{
  background-color: #f394af;
  color: white;
  
  box-shadow: 0 4px 8px white;

}

#cancel-btn:hover{
  
  
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0.5);

}



.home-content{
  
  margin-top: 100px;
  background-image: url('images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  border-bottom: 40px solid #ddeae3;
  
  
  
 
}

.info-1{
 margin-top: 60px;
 margin-bottom: 100px;
 background-image: url('images/bg3.png');
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
 
  
  
  
}

.info-1 h1{
  padding-top: 360px;
  color: #f394af;
  font-size: 55px;
  font-weight: 700;
}

.info-1 p{
  
  font-size: 25px;
  margin-top: 50px;
  
  
}


.info-2{
  
  margin-bottom: 180px;
  background-image: url('images/bg2.png');
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 90vh;
   
 }
 
 .info-2 h1{
   padding-top: 320px;
   color: #f394af;
   font-size: 55px;
   font-weight: 700;
 }
 
 .info-2 p{
   
   font-size: 25px;
   margin-top: 50px;
   
   
 }

 #contact-us{
  background-color: #ddeae3;
 }

 #contact-us h1{
  padding-top: 55px;
  margin-bottom:50px;
  font-size: 55px;
  font-weight: 700;
  color: #f394af;
 }

 .cake-pic-contact{
  height: 38vh;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 15px solid #ddeae3;
  
  box-shadow: 0 4px 8px rgba(187, 214, 199, 1);
  
 }

 iframe {
  max-width: 100%;
  max-height: 370px;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(187, 214, 199, 1);
  margin-bottom: 60px;
}

.left-col{
  margin-top: 30px;
}

.left-col li{
  padding-bottom: 20px;
  text-decoration: none;
  list-style: none;
}



.send-msg{
  background-color: #f394af;
  border-radius: 25px;
  color: white;
  font-weight: 300 ;
  border-width: 0px;
  
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  
}

.send-msg:hover{

  box-shadow: 0 4px 8px rgba(187, 214, 199, 1);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;

}



.photo-gal {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-bottom: 100px;
  
  
}

.photo{
  height: 35vh;
  
  margin: 30px;
  border: 15px solid #ddeae3;
  
  box-shadow: 0 4px 8px rgba(187, 214, 199, 1);
  border-radius: 30px;
}

.photo:nth-child(even){

  border: 15px solid #fef1f5;
  box-shadow: 0 4px 8px rgb(243, 203, 215);

}

.photo-gallery h1{
  font-size: 55px;
  font-weight: 700;
  color: #f394af;
  margin-top: 200px;

}

.photo-gallery p{
  font-size: 25px;
}

#contact-modal-title{
  color: #f394af;
  font-size: 25px;
  font-weight: 600;
}

.md-header{
  padding: 20px;
}

.modal-body p{
  padding: 10px;
}

.modal-content{
  border-radius: 30px !important;
  width: 100%;
}

.longInput{
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  
  border: 1px solid #bbd6c7;
}

.card-body img{
  height: 30vh;
  border-radius: 30px;
  margin: 10px;
}

.card{
  background-color: #ddeae3 !important;
  border-color: #ddeae3 !important;
  border-radius: 30px !important;
  margin: 18px;
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0.8);

}

.cards-wrapper{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  
  
 
}

.price{
  border: 1px solid #f394af !important;
  background-color: #ddeae3 !important;
  border-radius: 30px !important;
  margin: 10px;
  padding: 8px;
  color: #f394af !important;
  font-weight: 600 !important;
  cursor: default !important;
}

.card-btn{
  border-radius: 30px !important;
  padding: 8px;
  margin: 10px;
  background-color: #f394af !important;
  color: white !important;
  font-weight: 600 !important;
  border-color: #f394af  !important;


}

.cake-content{
  margin-top: 150px;
  
}

.cake-content h1{
  font-size: 55px;
  font-weight: 700;
  color: #f394af;
}

.cake-content h6{
  margin-bottom: 30px;
  padding: 20px;
  font-size: 22px;
}

#filter-card{
  background-color: #fef1f5 !important;
  border: 1px solid white !important;
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0);
  padding: 10px;
  

}

.filter-body p{
  font-weight: 600;
  padding: 10px;
  
  
}

.options{
  
  margin-bottom: 20px;
}

.form-check-label{
  padding: 2px;  
}

.price-label{
  font-weight: 600;
  padding: 10px;

}

.filter-body h2{
  color: #f394af;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.apply-btn{
  background-color: #f394af !important;
  
}

.page-wrapper{
  padding: 20px;
  
  
}

.page-wrapper h1{
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: 700;
  color: #f394af;
}

.form-wrapper{
  background-color: #ddeae3;
  padding: 20px;
  border-radius: 30px;
}

.form-group{
  margin-bottom: 20px;
  
}

.form-group input{
  border-radius: 30px !important;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0.5);
  

  

}

.form-select{
  padding: 15px !important;
  border-radius: 30px !important;
}

.form-group label{
  padding: 25px;
  font-weight: 600;
}

#select-image{
  
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0);

}

.comments{
  box-shadow: 0 4px 8px rgba(187, 214, 199, 0.5);
  border: 1px solid white;
}

.continue-btn{
  text-decoration: none;
}

#rc-page{
  margin-top: 230px;
  background-color: #fef1f5;
  padding-top: 100px;
  padding-bottom: 100px;
}

#confirm-title{
  font-size: 50px;
  font-weight: 700;
  color: #f394af;
}

#mini-text{
  padding: 20px;
}

#rc-page p{
  padding: 20px;
  padding-left: 100px !important;
  padding-right: 100px !important;
  font-size: 20px
}

.go-back-btn{
  margin-top: 30px;
  padding: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#custom .modal-body{
  width: 100%;
}

#filling-options, #frosting-options, #fruit-options, #nuts-options{
  padding: 20px;
  padding-bottom: 30px;
}

#filling-options label, #frosting-options label, .label-title{
  padding: 10px;
  font-weight: 600;
  padding-bottom: 20px;
  
}

#filling-options select, #frosting-options select{
  border-color: #f394af !important;
}





